<!-- crud_user/templates/crud_user/user_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <ul>
        {% for user in users %}
        <li>
            <!-- Informasi pengguna -->
            <div id="user_{{ user.id }}">
                {{ user.id }} - {{ user.name }} - {{ user.email }} - {{ user.age }}
            </div>
            <button onclick="showEditForm('{{ user.id }}')">Edit</button>

            <form method="post" action="{% url 'user_delete' user.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>

            <!-- Formulir Edit (disembunyikan secara default) -->
            <div id="edit_form_{{ user.id }}" style="display: none;">
                <form id="edit_user_{{ user.id }}" method="post" action="{% url 'user_update' user.id %}">
                    {% csrf_token %}
                    <input type="text" name="name" value="{{ user.name }}">
                    <input type="email" name="email" value="{{ user.email }}">
                    <input type="number" name="age" value="{{ user.age }}">
                    <button type="submit">Save</button>
                </form>
            </div>
        </li>

        <script>
            function showEditForm(userId) {
                // Sembunyikan informasi pengguna
                document.getElementById('user_' + userId).style.display = 'none';
                // Tampilkan formulir edit
                document.getElementById('edit_form_' + userId).style.display = 'block';
            }
        </script>
        
        {% endfor %}
    </ul>
    <h2>Add New User</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
</body>
</html>
